/* start Global Rules */
:root {
  --main-color: #19c8fa;
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(5, 10, 34);
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*-------------------------- End Global Rules--------------------- */

header {
  position: absolute;
  left: 0%;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .logo img {
  height: 40px;
  width: 110px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
}
header nav ul li {
  justify-content: space-between;
  padding: 0 15px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}
header nav ul li a:hover {
  color: var(--main-color);
}
@media (max-width: 768px) {
  header nav ul li a {
    font-size: 14px;
  }
  header .logo img {
    height: 30px;
    width: 80px;
  }
}
/* ---------------end header------------------------------------ */
/* ---------------start landing------------------------------------ */
.landing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.landing .container {
  color: white;
}
.landing .container img {
  width: 85%;
}
.landing .container h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.6;
}
.landing .container p {
  margin-bottom: 30px;
  line-height: 1.3;
  font-weight: normal;
}
.landing .container .link {
  text-align: center;
  background-color: var(--main-color);
  width: 200px;
  height: 33px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.landing .container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* ---------------end landing------------------------------------ */
/* <!-- -------------stat Features------ --> */
.Features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  color: white;
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  text-align: center;
}
.Features .box .ican {
  margin-bottom: 30px;
}
.Features .box h3 {
  text-align: center;
  margin-bottom: 15px;
}
.Features .box p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.3;
  font-weight: normal;
}
@media (max-width: 767px) {
  .Features .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 15px;
  }
}
/* <!-- ----------------end Features------------ --> */
/* ---------------start landing   2      ------------------------------------ */
.landing-2 {
  height: 500px;
}
.landing-2 .container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 auto;
  gap: 50px;
  color: white;
}
.landing-2 .image img {
  width: 100%;
  height: 100%;
}
.landing-2 .image {
  width: 80%;
  height: 80%;
}
.landing-2 .text h2 {
  margin-bottom: 50px;
}

.landing-2 .text p {
  margin-bottom: 50px;
}
.landing-2 .text a {
  color: var(--main-color);
}

@media (max-width: 790px) {
  .landing-2 .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
  }
  .landing-2 .image {
    width: 100%;
  }
}
/* ---------------end landing 2---------------------------------- */
/* --------------- start-about ---------------------------------- */
.about {
  margin-bottom: 150px;
  padding: 50px;
  width: 100%;
}
.about .container {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.about .container .box {
  padding: 40px 20px;
  background-color: rgb(8, 19, 71);
  margin-left: 20px;
  margin-right: 20px;
}
.about .container .box .pic {
  display: flex;
  align-items: center;
}
.about .container .box .pic img {
  width: 40px;
  height: 50%;
  flex-basis: 20%;
  border-radius: 50%;
}
.about .container .box > p {
  margin-bottom: 20px;
  font-weight: bold;
}
.about .container .box .pic p {
  font-size: 12px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .about .container {
    color: yellow;
    /* --------------------
       --------------------
                           */
  }
}
/* ---------------end-about ---------------------------------- */
/*______________________________with media____________________________________ */

.sign {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  color: white;
}
.sign .container {
  max-width: 950px;
  height: 400px;
  background-color: rgb(8, 19, 71);
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding-top: 50px;
}
.sign .container input {
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 30px;
  left: 60px;
  width: 450px;
  border: 1px solid white;
  border-radius: 22px;
}
.sign .container input:focus {
  outline: none;
}
input::placeholder {
  color: var(--main-color);
  padding-left: 30px;
}
.sign .container button {
  position: absolute;
  bottom: 30px;
  right: 60px;
  height: 50px;
  border-radius: 22px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  cursor: pointer;
}
.sign .container h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 30px;
}
.sign .container p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
}

/*__________________________________________________________________ */
/*______________________________with media__+( alot problemsssss )____________________________ */
.end {
  padding: 80px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.end img {
  margin-bottom: 40px;
}
.end .lol {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 20px;
}
.end .social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.end .social i {
  margin-bottom: 40px;
}
.end .lol .phone,
.end .lol .ser li,
.end .lol .ser2 li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: flex-start;
}
.end .p {
  float: left;
}
/*__________________________________________________________________ */
